body, div, iframe, ul, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, table, th, td, 
form, input, button, select, textarea {margin: 0;padding: 0;font-weight: normal;font-style: normal;font-size: 100%;font-family: inherit;}
ol, ul {list-style: none;}
img {border: 0;}
a:link,a:visited {color:#5A5A5A;text-decoration:none;}
a:hover {color:#c00;text-decoration:underline;}
body {font-size:12px;color:#5A5A5A;font-family:arial, sans-serif;background:#fff}
div,form,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border:0; margin-left: 15px;margin-right: 10px;}
h1,h2,h3,h4,h5,h6 {margin:0; padding:0; font-size:12px; font-weight:normal;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
img{vertical-align:top;}
.cr {clear:both;height:0px;overflow:hidden;}
.fl {float:left;}
.fr {float:right;}
.mt15 {margin-top:15px;}
.mt8 {margin-top:8px;}
.ins {display:none}
.dis {display:none}

.content {height:100%;overflow:hidden;padding:10px 0 30px 10px;}
.box {float:left;widtH:48%;margin:0px 0 2px 10px;_display:inline;padding-bottom:12px;height:380px;background:url(main/boxb.png) no-repeat center bottom;}
.box h3 {border:1px solid #DADADA;background:url(main/boxbg.png) repeat-x;height:33px;line-height:33px;color:#4D4D4D;font-weight:bold;padding:0 14px}
.box .con {padding:4px;height:336px;border:1px solid #DADADA;border-top:0;background:#F2F2F2;}
.box .dcon {padding:20px 20px 0;height:324px}

a.isub,a.isub:visited,a.isub:hover {background:url(isub.png) no-repeat;display:inline-block;color:#fff;heighT:32px;line-height:32px;text-align:center}
.update {margin-bottom:20px}
.update p {line-heighT:32px;}
.update a.isub,.update a.isub:visited {width:73px;}
.myinfo,.news,.count  {border:1px solid #E9E7E8;background:#fff;padding:14px;}
.myinfo li {height:26px;line-heighT:26px; position:relative}
.myinfo li .fl {widtH:60%}
.myinfo li span {display:block;width:190px;right:0;top:0;height:26px;line-height:26px; position:absolute}
.myinfo .title {font-weight:bold;padding:10px 0;background:none;}
.kjinfo li {background:url(main/j.gif) no-repeat 0 7px;padding-left:20px;}

.kjnav {height:29px;padding:10px 0 20px 0;}
.kjnav a:hover {color:#f00; text-decoration:none}

.news,.count {padding:6px 10px;clear:both;height:322px;}
.news li {height:32px;line-height:32px;overflow:hidden;background:url(main/x.gif) no-repeat 0 3px;padding-left:24px;}
.news li span {float:right;color:#999}
.count {}
.count li {text-indent:10px;height:32px;line-height:32px;}
.count .bg {background:#F4F4F4}

/* 颜色 */
.red {color:#f00}
.blue,a.blue,a.blue:visited {color:#1CA1DA}
.ipt {border:1px solid #BFBFBF;line-height:24px;height:24px;}
.button {background: url('queding.jpg');width: 72px;height: 29px;line-height: 25px;font-size: 10px;color: white;border: 1px solid transparent;border-radius: 2px;}
.button1 {background: url('fanhui.jpg');width: 72px;height: 29px;line-height: 25px;font-size: 10px;color: white;border: 1px solid transparent;border-radius: 2px;}
.button:hover{background: url('queding1.jpg');}
.button1:hover{background: url('fanhui1.jpg');}
.warp {background:#F3F3F4;height:100%}
/* 权限管理 */
#gtitle {height:58px;padding:0 0 2px 1px;background:url(main/gtitle.png) repeat-x;}
#gtitle li {float:left;line-height:58px;height:58px;padding:0 20px;background:url(main/gtitle.png) no-repeat right -60px}
#gtitle li a,#gtitle li a:visited {color:#222}
#gtitle .curr {background:url(main/gtitle.png) repeat-x 0 -120px;}
#gtitle .curr a,#gtitle .curr a:visited {color:#fff}

.itable dl {clear:both;background:url(main/hbline.gif) repeat-x 100% bottom;padding:5px 10px 5px 20px;line-height:40px;height:40px;}
.itable dl dt {float:left;font-weight:bold;color:#222}
.itable dl dd {float:left}
.itable dl dd input { vertical-align:middle}
.msub {padding:15px;text-align:center}
.msub input,.ksearch .ksub {width:130px;height:41px;background:url(isub.png) no-repeat 0 -35px;border:none;margin:0 6px;cursor: pointer;}
.msub .ireust { background-position:0 -77px}

/* 文章管理 */
#artlist {}
#artlist .mod {height:48px;padding:20px 0 0 12px;background-color: #FFF;  margin-left: -15px;margin-right: -10px;} 
#artlist .mods {height:50px;padding:20px 0 0 12px;background-color: #FFF;  margin-left: -23px;margin-right: -20px;} 
.ksearch {line-height:29px;height:29px;padding:6px 0 5px;color:#747474}
.ksearch .fl {padding-left:14px}
.ksearch b {color:#222;}
.ksearch .kserico {padding:2px 0 2px 22px;background:url(main/kserico.gif) no-repeat;}
.ksearch select,.ksearch input,.bottom select { vertical-align:middle;color:#777}
.ksearch .ksub { background-position:-75px 0;width:80px;height:29px;}
.look {heighT:39px;line-height:39px;background:url(main/artbg.png) repeat-x 0 -154px;padding-left:14px;}
.look a.curr,.look a.curr:visited {color:#f60}
.bottom {line-height:28px;height:28px;padding:14px;border-top:2px solid  #D8D8D8;margin-left:-5px;margin-right:-5px;}
.bottom span {padding:0 8px}
.bottom span b {color:#222}

#alist th {height:40px;line-height:40px;border-bottom:1px solid #CDCDCD}
#alist td { text-align:center;height:40px;border-bottom:1px solid #E7E7E7}
#alist .xtit {text-align:left;}
#alist .xtit p {background:url(main/j.gif) no-repeat;padding-left:20px}
#alist th.xtit {text-indent:100px}
#alist a.edit,#alist a.edit:visited,#alist a.del,#alist a.del:visited,#alist a.tui,#alist a.tui:visited {display:inline-block;width:20px;line-height:60px;height:20px;overflow:hidden;background:url(main/gico.gif) no-repeat;margin:0 2px}
#alist a.del,#alist a.del:visited { background-position:0 -21px}
#alist a.tui,#alist a.tui:visited { background-position:0 -42px}

.addn {padding:10px;}
#addn th {heighT:34px;line-height:34px;text-align:left;text-indent:30px;font-weight:bold;color:#222}
#addn th {border-bottom:2px solid #D2D2D2;line-height:26px}
#addn td {border-bottom:1px #F2F2F2 solid;line-height:26px}
#addn td input { vertical-align:middle}
#addkey {float:left;padding-left:10px;}
.fabu {margin-left:80px;padding-right:10px}

/* 分页 */
.listpage {padding:16px 30px 16px 0;clear:both;text-align:right}
.listpage a,
.listpage a:visited,.listpage a:hover,.listpage b {padding:0px 8px; border:1px solid #F7F7F7;border-bottom:1px solid #DFDFDF;border-right:1px solid #DFDFDF;display:inline-block;height:20px;line-heighT:20px;text-decoration:none;color:#11396A;margin:0 3px;font-family:'宋体';background:#F7F7F7}
.listpage a:hover,.listpage b {border:0;padding:1px 9px; color:#fff;background:#3F8EF3 url(main/pageh.png) no-repeat;}
/*功能添加按钮样式*/
.fun_z{	padding: 4px 8px !important;margin-left: 5px !important;border-radius: 2px !important;	color: #fff !important;	background-color: #44b549 !important;text-decoration:none !important;}
#btl{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background-color: #ffffff; border-color: #e7eaec;border-image: none;border-style: solid solid none;border-width: 4px 0px 0;margin-top:18px;}
#xbtl{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background-color: #ffffff;border-color: #e7eaec;border-image: none;border-style: solid solid none;border-width: 4px 0px 0;margin-top:18px;}
#inpt{width:70px;height:20px;background-color: #44b549;color:#FFF;margin-left: -5px;}
.tjan{width:80px;height:30px;background-color: #44b549;color:#FFF;margin-right:40px;font-weight: bold;}
.set_top{margin-left: -15px;margin-right: 0px; height:70px;background-color:#FFF;}
.set_top li{font-weight: bold;float:left;width:100px;line-height:35px;text-align: center;margin:0 10px 0 0;color: inherit;background: white;border: 1px solid #e7eaec;margin-top:15px;}
.set_top li:nth-child(1){margin-left: 25px;}
#set_top_li_bg{background-color:#44b549;}
#set_top_li_bg a{color:#FFF;}
.set_top a{text-decoration: none}
#plat{background-color: #E6E6E7}
#b1t{height:25px;line-height:25px;overflow:hidden;}
#b2t{height:170px;}
#b3t{background: #44b549;width: 50px;height: 20px;border-radius:0.3em;text-align:center;float:left;}
#mgpx img{max-height:160px;max-width:100%;height:160px;width:expression_r(document.body.clientWidth>160?"160px":"auto");overflow:hidden;}
#mgpx {	height: 160px;margin-left:0px;width:45%;float:left;text-align:center}
#mgxp {	height: 160px;margin-left:0px;width:186px;float:left;text-align:center}
#mgxp img{max-width:373;max-height:160px;width:373px;width:expression_r(document.body.clientWidth>373?"373px":"auto");overflow:hidden;}
.fonts>tbody>tr:nth-of-type(odd){background-color: #f9f9f9;};
.fonts>tbody>tr:nth-of-type(even){background:#fff;}
.shel{height: 26px;width: 50px;background-color: #44b549;border-color: #44b549;color: #FFFFFF;border: 1px solid transparent;border-radius: 3px;}
.shel:hover{background:#44b549;border-top-left-radius: 0;border-bottom-left-radius: 0;}
.subs{background-color: #44b549;border-color: #44b549;color: #FFFFFF;border: 1px solid transparent;height:23px;border-radius: 3px;}
.subs:hover{background:#44b549;}
.subs1{background-color: #44b549;border-color: #44b549;color: #FFFFFF;border: 1px solid transparent;height:23px;border-radius: 3px;}
.subs1:hover{background:#44b549;}
#inpts{width:70px;height:20px;background-color: #44b549;color:#FFF;margin-left: -5px;border: 1px solid transparent;border-radius: 2px;height:25px;margin:3px 0 3px 0;}
#inpts:hover{background:#44b549;}
.footer{position: fixed;bottom: 0;padding-bottom: 15px;}
input:focus {border: 1px solid #44b549;}
.modna{width: 80px;height: 27px;background: #FFF;margin: 0;text-align: center;margin-left: 10px;color: #44b549;border: 1px solid transparent;border-color: #44b549;border-radius: 3px;float:left;height:25px;line-height:25px;overflow:hidden; }
.modna:hover{background: #44b549;color: #FFF;border-radius: 3px;}
#addn tr:nth-of-type(odd){background-color: #f9f9f9;};
#addn tr:nth-of-type(even){background:#fff;}
#myform{width:100%;margin-left:0;}
#alist tr:nth-of-type(odd){background-color: #f9f9f9;};
#alist tr:nth-of-type(even){background:#fff;}
.ke-edit{margin:0px;}
.ke-toolbar{margin:0px;}
.ke-statusbar{margin:0px;}
#btl {
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(200px);
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
}
@-ms-keyframes fadeInRight {
    0% {
        opacity: 0;
        -ms-transform: translateX(200px);
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
#btl {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -ms-animation-name: fadeInRight;
}
#artlist {
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(200px);
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
}
@-ms-keyframes fadeInRight {
    0% {
        opacity: 0;
        -ms-transform: translateX(200px);
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
#artlist {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -ms-animation-name: fadeInRight;
}